@charset "UTF-8";
@font-face {
  font-family: 'Lora-Regular';
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  unicode-range: U+0020-2122;
}
/* line 11, ../sass/abstract/abstractions/_clear.scss */
.clear {
  clear: both;
}

/* line 2, ../sass/abstract/abstractions/_clear.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: LoraBold;
  font-weight: normal;
  font-style: normal;
  src: url("/sites/all/themes/pixel/fonts/Lora-Bold.eot");
  src: url("/sites/all/themes/pixel/fonts/Lora-Bold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/pixel/fonts/Lora-Bold.woff") format("woff"), url("/sites/all/themes/pixel/fonts/Lora-Bold.ttf") format("truetype"), url("/sites/all/themes/pixel/fonts/Lora-Bold.svg#LoraBold") format("svg");
}
@font-face {
  font-family: LoraBoldItalic;
  font-weight: normal;
  font-style: normal;
  src: url("/sites/all/themes/pixel/fonts/Lora-BoldItalic.eot");
  src: url("/sites/all/themes/pixel/fonts/Lora-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/pixel/fonts/Lora-BoldItalic.woff") format("woff"), url("/sites/all/themes/pixel/fonts/Lora-BoldItalic.ttf") format("truetype"), url("/sites/all/themes/pixel/fonts/Lora-BoldItalic.svg#LoraBoldItalic") format("svg");
}
@font-face {
  font-family: LoraItalic;
  font-weight: normal;
  font-style: normal;
  src: url("/sites/all/themes/pixel/fonts/Lora-Italic.eot");
  src: url("/sites/all/themes/pixel/fonts/Lora-Italic.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/pixel/fonts/Lora-Italic.woff") format("woff"), url("/sites/all/themes/pixel/fonts/Lora-Italic.ttf") format("truetype"), url("/sites/all/themes/pixel/fonts/Lora-Italic.svg#LoraItalic") format("svg");
}
@font-face {
  font-family: LoraRegular;
  font-weight: normal;
  font-style: normal;
  src: url("/sites/all/themes/pixel/fonts/Lora-Regular.eot");
  src: url("/sites/all/themes/pixel/fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/pixel/fonts/Lora-Regular.woff") format("woff"), url("/sites/all/themes/pixel/fonts/Lora-Regular.ttf") format("truetype"), url("/sites/all/themes/pixel/fonts/Lora-Regular.svg#LoraRegular") format("svg");
}
/* line 1, ../sass/base/forms/_buttons.scss */
input[type='submit'] {
  background-color: #f06523;
  color: white;
  padding: 10px 20px;
  height: 40px;
  border: none;
}

/* line 1, ../sass/base/forms/_intputs.scss */
input[type='password'], input[type='text'] {
  border: solid 1px #f06523;
  padding: 15px;
  font-size: 20px;
  font-family: 'LoraRegular';
  font-style: italic;
}

/* line 9, ../sass/base/forms/_intputs.scss */
textarea {
  border: solid 1px #f06523;
}

/* Animated throbber */
/* line 14, ../sass/base/forms/_intputs.scss */
html.js input.form-autocomplete {
  background-image: url(../../../../../misc/throbber-inactive.png);
  background-position: 100% center;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 19, ../sass/base/forms/_intputs.scss */
html.js input.throbbing {
  background-image: url(../../../../../misc/throbber-active.gif);
  background-position: 100% center;
  /* LTR */
}

/* line 1, ../sass/base/typography/_base.scss */
html {
  font-family: LoraRegular;
  font-style: normal;
  color: #58595B;
}

/* line 7, ../sass/base/typography/_base.scss */
h1, h2, h3 {
  font-style: normal;
  font-weight: bold;
  color: #f06523;
}

/* line 13, ../sass/base/typography/_base.scss */
h1 {
  font-size: 40px;
  padding-bottom: 1%;
}
@media (max-width: 767px) {
  /* line 13, ../sass/base/typography/_base.scss */
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  /* line 13, ../sass/base/typography/_base.scss */
  h1 {
    font-size: 26px;
  }
}

/* line 28, ../sass/base/typography/_base.scss */
h2 {
  font-size: 30px;
}
@media (max-width: 767px) {
  /* line 28, ../sass/base/typography/_base.scss */
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  /* line 28, ../sass/base/typography/_base.scss */
  h2 {
    font-size: 24px;
  }
}

/* line 39, ../sass/base/typography/_base.scss */
h3 {
  font-size: 26px;
}
@media (max-width: 767px) {
  /* line 39, ../sass/base/typography/_base.scss */
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  /* line 39, ../sass/base/typography/_base.scss */
  h3 {
    font-size: 22px;
  }
}

/* line 49, ../sass/base/typography/_base.scss */
a {
  color: #f06523;
  text-decoration: none;
}
/* line 53, ../sass/base/typography/_base.scss */
a:hover {
  color: #000;
}

/* line 58, ../sass/base/typography/_base.scss */
p {
  font-size: 15px;
  color: #58595B;
}

/* line 63, ../sass/base/typography/_base.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #f06523;
}

/* line 70, ../sass/base/typography/_base.scss */
.first-word {
  font-family: LoraItalic;
  font-weight: normal;
}

/* line 75, ../sass/base/typography/_base.scss */
strong, b {
  font-family: "LoraBold";
}

/* line 2, ../sass/base/typography/_list.scss */
ul li, ol li {
  color: #58595B;
}

/* line 8, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
/* line 11, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) li {
  list-style-type: none;
  color: #58595B;
  text-indent: -27px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 18, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) li:before {
  color: #f06523;
  content: "· ";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
}

/* line 28, ../sass/base/typography/_list.scss */
ul.links li {
  list-style-type: none;
  color: #58595B;
}
/* line 32, ../sass/base/typography/_list.scss */
ul.links li:before {
  color: #f06523;
  content: "· ";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
}

/* line 41, ../sass/base/typography/_list.scss */
ul.breadcrumb {
  font-size: 18px;
  font-style: normal;
}
/* line 46, ../sass/base/typography/_list.scss */
ul.breadcrumb li:first-child:before {
  display: none;
}
/* line 50, ../sass/base/typography/_list.scss */
ul.breadcrumb li {
  list-style: none;
  display: inline-block;
}
/* line 54, ../sass/base/typography/_list.scss */
ul.breadcrumb li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
/* line 60, ../sass/base/typography/_list.scss */
ul.breadcrumb li a {
  color: #58595B;
}
/* line 63, ../sass/base/typography/_list.scss */
ul.breadcrumb li a.active {
  color: #f06523;
  font-weight: bold;
  font-style: normal;
}
/* line 69, ../sass/base/typography/_list.scss */
ul.breadcrumb li a:hover {
  color: #f06523;
}

/* line 76, ../sass/base/typography/_list.scss */
ul.pager {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
/* line 81, ../sass/base/typography/_list.scss */
ul.pager li.pager__item--current {
  color: #f06523;
}
/* line 84, ../sass/base/typography/_list.scss */
ul.pager .pager__item--next, ul.pager .pager__item--last {
  float: right;
}
/* line 87, ../sass/base/typography/_list.scss */
ul.pager li {
  padding-right: 25px;
  float: left;
  list-style: none;
}
/* line 92, ../sass/base/typography/_list.scss */
ul.pager li.pager-last, ul.pager li.pager-next {
  font-family: LoraItalic;
}
/* line 96, ../sass/base/typography/_list.scss */
ul.pager li.pager-current {
  color: #f06523;
}
/* line 99, ../sass/base/typography/_list.scss */
ul.pager li.pager-first, ul.pager li.pager-previous {
  font-family: LoraItalic;
}
