@charset "UTF-8";
@font-face {
  font-family: 'Lora-Regular';
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
  unicode-range: U+0020-2122;
}
/* line 11, ../sass/abstract/abstractions/_clear.scss */
.clear {
  clear: both;
}

/* line 2, ../sass/abstract/abstractions/_clear.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1, ../sass/base/typography/_base.scss */
html {
  font-family: LoraRegular;
  font-style: normal;
  color: #58595B;
}

/* line 7, ../sass/base/typography/_base.scss */
h1, h2, h3 {
  font-style: normal;
  font-weight: bold;
  color: #f06523;
}

/* line 13, ../sass/base/typography/_base.scss */
h1 {
  font-size: 40px;
  padding-bottom: 1%;
}
@media (max-width: 767px) {
  /* line 13, ../sass/base/typography/_base.scss */
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  /* line 13, ../sass/base/typography/_base.scss */
  h1 {
    font-size: 26px;
  }
}

/* line 28, ../sass/base/typography/_base.scss */
h2 {
  font-size: 30px;
}
@media (max-width: 767px) {
  /* line 28, ../sass/base/typography/_base.scss */
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  /* line 28, ../sass/base/typography/_base.scss */
  h2 {
    font-size: 24px;
  }
}

/* line 39, ../sass/base/typography/_base.scss */
h3 {
  font-size: 26px;
}
@media (max-width: 767px) {
  /* line 39, ../sass/base/typography/_base.scss */
  h3 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  /* line 39, ../sass/base/typography/_base.scss */
  h3 {
    font-size: 22px;
  }
}

/* line 49, ../sass/base/typography/_base.scss */
a {
  color: #f06523;
  text-decoration: none;
}
/* line 53, ../sass/base/typography/_base.scss */
a:hover {
  color: #000;
}

/* line 58, ../sass/base/typography/_base.scss */
p {
  font-size: 15px;
  color: #58595B;
}

/* line 63, ../sass/base/typography/_base.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #f06523;
}

/* line 70, ../sass/base/typography/_base.scss */
.first-word {
  font-family: LoraItalic;
  font-weight: normal;
}

/* line 75, ../sass/base/typography/_base.scss */
strong, b {
  font-family: "LoraBold";
}

/* line 2, ../sass/base/typography/_list.scss */
ul li, ol li {
  color: #58595B;
}

/* line 8, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
/* line 11, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) li {
  list-style-type: none;
  color: #58595B;
  text-indent: -27px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 18, ../sass/base/typography/_list.scss */
ul:not([class]):not([id]) li:before {
  color: #f06523;
  content: "· ";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
}

/* line 28, ../sass/base/typography/_list.scss */
ul.links li {
  list-style-type: none;
  color: #58595B;
}
/* line 32, ../sass/base/typography/_list.scss */
ul.links li:before {
  color: #f06523;
  content: "· ";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
}

/* line 41, ../sass/base/typography/_list.scss */
ul.breadcrumb {
  font-size: 18px;
  font-style: normal;
}
/* line 46, ../sass/base/typography/_list.scss */
ul.breadcrumb li:first-child:before {
  display: none;
}
/* line 50, ../sass/base/typography/_list.scss */
ul.breadcrumb li {
  list-style: none;
  display: inline-block;
}
/* line 54, ../sass/base/typography/_list.scss */
ul.breadcrumb li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
/* line 60, ../sass/base/typography/_list.scss */
ul.breadcrumb li a {
  color: #58595B;
}
/* line 63, ../sass/base/typography/_list.scss */
ul.breadcrumb li a.active {
  color: #f06523;
  font-weight: bold;
  font-style: normal;
}
/* line 69, ../sass/base/typography/_list.scss */
ul.breadcrumb li a:hover {
  color: #f06523;
}

/* line 76, ../sass/base/typography/_list.scss */
ul.pager {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
/* line 81, ../sass/base/typography/_list.scss */
ul.pager li.pager__item--current {
  color: #f06523;
}
/* line 84, ../sass/base/typography/_list.scss */
ul.pager .pager__item--next, ul.pager .pager__item--last {
  float: right;
}
/* line 87, ../sass/base/typography/_list.scss */
ul.pager li {
  padding-right: 25px;
  float: left;
  list-style: none;
}
/* line 92, ../sass/base/typography/_list.scss */
ul.pager li.pager-last, ul.pager li.pager-next {
  font-family: LoraItalic;
}
/* line 96, ../sass/base/typography/_list.scss */
ul.pager li.pager-current {
  color: #f06523;
}
/* line 99, ../sass/base/typography/_list.scss */
ul.pager li.pager-first, ul.pager li.pager-previous {
  font-family: LoraItalic;
}

/* line 1, ../sass/base/forms/_buttons.scss */
input[type='submit'] {
  background-color: #f06523;
  color: white;
  padding: 10px 20px;
  height: 40px;
  border: none;
}

/* line 1, ../sass/base/forms/_intputs.scss */
input[type='password'], input[type='text'] {
  border: solid 1px #f06523;
  padding: 15px;
  font-size: 20px;
  font-family: 'LoraRegular';
  font-style: italic;
}

/* line 9, ../sass/base/forms/_intputs.scss */
textarea {
  border: solid 1px #f06523;
}

/* Animated throbber */
/* line 14, ../sass/base/forms/_intputs.scss */
html.js input.form-autocomplete {
  background-image: url(../../../../../misc/throbber-inactive.png);
  background-position: 100% center;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 19, ../sass/base/forms/_intputs.scss */
html.js input.throbbing {
  background-image: url(../../../../../misc/throbber-active.gif);
  background-position: 100% center;
  /* LTR */
}

/* line 1, ../sass/base/_paragraphs.scss */
.entity-paragraphs-item {
  padding-bottom: 60px;
}
/* line 2, ../sass/abstract/abstractions/_clear.scss */
.entity-paragraphs-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 6, ../sass/base/_paragraphs.scss */
.entity-paragraphs-item .field--name-field-paragraph-heading p {
  margin-top: 0;
}
@media (max-width: 767px) {
  /* line 12, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .content > div {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    clear: both;
    float: none;
  }
  /* line 2, ../sass/abstract/abstractions/_clear.scss */
  .entity-paragraphs-item .content > div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* line 18, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .content > div .paragraphs-item-paragraph-quote {
    margin-top: 0;
  }
  /* line 20, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .content > div .paragraphs-item-paragraph-quote .content {
    width: 61.29032%;
    float: left;
    margin-right: 0;
    clear: both;
    text-align: right;
  }
  /* line 2, ../sass/abstract/abstractions/_clear.scss */
  .entity-paragraphs-item .content > div .paragraphs-item-paragraph-quote .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* line 26, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .content > div .paragraphs-item-paragraph-quote .content .field--name-field-paragraph-quote-text {
    text-align: left;
  }
  /* line 32, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .paragraphs-items-field-paragraph-list-full {
    margin-top: 3em;
  }
  /* line 35, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .paragraphs-items-field-paragraph-list-full > .field--name-field-paragraph-list > .field__items > .even {
    width: 48.3871%;
    float: left;
    margin-right: 3.22581%;
    padding-bottom: 1em;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  /* line 35, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .paragraphs-items-field-paragraph-list-full > .field--name-field-paragraph-list > .field__items > .even {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 42, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .paragraphs-items-field-paragraph-list-full > .field--name-field-paragraph-list > .field__items > .odd {
    width: 48.3871%;
    float: left;
    margin-right: 0;
    padding-bottom: 1em;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  /* line 42, ../sass/base/_paragraphs.scss */
  .entity-paragraphs-item .paragraphs-items-field-paragraph-list-full > .field--name-field-paragraph-list > .field__items > .odd {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  /* line 54, ../sass/base/_paragraphs.scss */
  .paragraphs-item-paragraph-copy-right-and-quote .entity-paragraphs-item.paragraphs-item-paragraph-quote .content {
    float: left;
  }
}

@media (max-width: 767px) {
  /* line 64, ../sass/base/_paragraphs.scss */
  .paragraphs-item-paragraph-copy-left-and-quote .entity-paragraphs-item.paragraphs-item-paragraph-quote {
    float: right;
  }
}

/* line 72, ../sass/base/_paragraphs.scss */
.entity-paragraphs-item:last-of-type {
  padding-bottom: 0;
}

/* line 78, ../sass/base/_paragraphs.scss */
.field--name-field-paragraph-heading {
  font-style: normal;
  font-weight: bold;
  color: #f06523;
  font-size: 26px;
  border-bottom: 4px solid;
  padding-bottom: 0.4em;
  padding-left: 6%;
  margin-left: -6%;
  width: 50%;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  /* line 78, ../sass/base/_paragraphs.scss */
  .field--name-field-paragraph-heading {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  /* line 78, ../sass/base/_paragraphs.scss */
  .field--name-field-paragraph-heading {
    font-size: 22px;
  }
}

/* line 1, ../sass/base/_iframes.scss */
iframe {
  max-width: 100% !important;
}

/* line 1, ../sass/base/_grid.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../var/lib/gems/1.9.1/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  /* line 1, ../sass/base/_grid.scss */
  body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../var/lib/gems/1.9.1/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
  body:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 1, ../sass/base/_images.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
